apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs-app-deployment
  namespace: "2401072"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextjs-app
  template:
    metadata:
      labels:
        app: nextjs-app
    spec:
      imagePullSecrets:
        - name: nexus-secret
      containers:
        - name: nextjs-app
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/v2/2401072_nextjs-project:v1
          ports:
            - containerPort: 3000
          # Probes, PVC, aur Resources hata diye hain taaki pod start ho jaye